.root {
  display: block;
}

.progress_ring {
  stroke: var(--stroke-color, black);
  stroke-dasharray: var(--circumference, 0);
  stroke-dashoffset: var(--circumference, 0);
  stroke-linecap: var(--stroke-linecap, butt);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: 1.2s cubic-bezier(0.86, 0, 0.07, 1) 0.5s forwards;
  animation-name: fillin;
}

@keyframes fillin {
  from {
    stroke-dashoffset: var(--circumference, 0);
  }

  to {
    stroke-dashoffset: var(--progress, 0);
  }
}
